@import "../../../component/my-css/scss/variate.scss";

.slideBox-page {
  .slide-test {
    width: 300px;
    padding: 6px;
    border: 2px solid $normal;
  }

  .text-box {
    border: 1px solid $normal;
    height: 260px;
    overflow: auto;
    background: white;
  }

  .item {
    padding: 5px;
    border-bottom: 1px solid $normal;
  }

  .slide-box {
    margin: 10px 0;
  }
}
