
@import "../scss/variate";

/**
* normal-btn:有背景的按钮 ，line-btn:线框按钮，dashed-btn：虚线按钮
* danger:颜色为红,primary：主题颜色，green：绿颜色
*/

//$primary:green;
$primary:#04a9f5;
$green:green;

.s-btn {
  display: inline-block;
  outline: none;
  padding: 0.5em 1em;
  cursor: pointer;
  position: relative;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 4px;

  &:disabled {
    background: darken($btn-disabled, 40%) !important;
    opacity: 0.6;
    cursor: not-allowed;
    border: none;
    color: white !important;
  }
}
//按钮点击时的状态，用于点击时加类名
.btn-clicked {
  $leg:-1px;

  &::after {
    content: "";
    position: absolute;
    top: $leg;
    left: $leg;
    right: $leg;
    bottom: $leg;
    opacity: 0.4;
    border-radius: inherit;
    border: 0 solid $text-theme-color;
    animation: buttonEffect 0.4s;
  }
}

//有背景的按钮
.normal-btn {
  border: none;
  color: $text-bg-color;

  &:hover {
    color: $text-bg-color;
  }

  &.primary {
    background: $green;

    &:hover {
      background: lighten($green, 15%);
    }
  }

  &.danger {
    background: $error;

    &:hover {
      background: lighten($error, 15%);
    }
  }

  &.green {
    background: #00cc9f;

    &:hover {
      background: lighten(#00cc9f, 15%);
    }
  }
}

//线框按钮
.line-btn {
  border: 2px solid;
  background: none;

  &.primary {
    color: $primary;
    border-color: $primary;

    &:hover {
      border-color: lighten($primary, 15%);
    }
  }

  &.danger {
    color: $error;
    border-color: $error;

    &:hover {
      border-color: lighten($error, 15%);
    }
  }

  &.green {
    color: $green;
    border-color: $green;

    &:hover {
      border-color: lighten($green, 15%);
    }
  }
}

@keyframes buttonEffect {
  $width:8px;

  to {
    opacity: 0;
    top: -$width;
    left: -$width;
    bottom: -$width;
    right: -$width;
    border-width: $width;
  }
}

/* 描边效果 */
%position_1 {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: solid 2px transparent;
  z-index: 3;
  box-sizing: border-box;
  border-radius: inherit;
}

.s-dashBtn {
  background: none;
  color: $text-theme-color;
  position: relative;

  &::before {
    @extend %position_1 ;

    top: 0;
    left: 0;
    transition: border-color 0s ease-in 0.8s, width 0.2s ease-in 0.6s, height 0.2s ease-in 0.4s;
  }

  &::after {
    @extend %position_1 ;

    right: 0;
    bottom: 0;
    transition: border-color 0s ease-in 0.4s, width 0.2s ease-in 0.2s, height 0.2s ease-in;
  }

  &:hover {
    &::before {
      border-top-color: $text-theme-color;
      border-right-color: $text-theme-color;
      width: 100%;
      height: 100%;
      transition: border-color 0s ease-out 0s, width 0.2s ease-out 0s, height 0.2s ease-out 0.2s;
    }

    &::after {
      border-bottom-color: $text-theme-color;
      border-left-color: $text-theme-color;
      width: 100%;
      height: 100%;
      transition: border-color 0s ease-out 0.4s, width 0.2s ease-out 0.4s, height 0.2s ease-out 0.6s;
    }
  }
}

/* 按钮组 */
.m-optBtn {
  display: flex;
  align-items: center;

  .s-btn {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }
}
