@import "../scss/variate";
$inp-h:2em;
$inp-border-color:$border-color;

.s-inp {
  height: $inp-h;
  text-indent: 0.5em;
  border: 0;
  outline: 0;
  color: $text-color;
}

.s-inp[disabled] {
  background: $btn-disabled;
  font-weight: bolder;
}

.s-txt {
  border-radius: 4px;
  line-height: 1.5em;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid $inp-border-color;
  color: $text-color;
  text-indent: 2em;

  &.block-txt {
    width: 100%;
    resize: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.s-slecte {
  border-radius: 4px;
  height: $inp-h;
  line-height: 1.5em;
  padding: 0 6px;
  box-sizing: border-box;
  background: none;
  color: $text-color;

  option {
    color: $text-color;
  }
}

.s-inp.normal {
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px;
  border-color: $inp-border-color;
  background: none;
}

.no-fill {
  &.s-inp {
    border-color: $error;
  }

  &.s-txt {
    border-color: $error;
  }
}

.input-file-m {
  position: relative;
  margin: 10px 0;

  input {
    position: absolute;
    left: 0;
    width: 80px;
    opacity: 0;
  }

  span {
    color: red;
    padding: 4px;
    border-bottom: 1px solid red;
  }
}

%inpbox {
  height: $inp-h;
  display: flex;
  align-items: center;

  .m-label {
    margin: 0 6px;
  }
}

.m-label {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;

  .wrap-icon {
    position: relative;
  }

  .icon {
    color: $text-color;
    cursor: pointer;
  }

  .checkBox-inp {
    opacity: 0;
    cursor: pointer;
    position: absolute;
  }
}

.lab-tit {
  padding-right: 10px;
}

.inp-item {
  margin: 16px 0;
}

/* radio */
.m-radio {
  @extend %inpbox;
}

.m-checkbox {
  @extend %inpbox;
}

.file-inp {
  position: absolute;
  left: 0;
  opacity: 0;
}
//search
.m-search {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid $normal;

  .j-search-icon {
    padding: 4px;

    &:hover {
      color: $active;
      cursor: pointer;
    }
  }

  .m-inp-val {
    flex: 1;
    position: relative;
  }

  .m-search-close {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }

  .s-inp {
    width: 100%;
  }
}
