@import "../scss/unit","../scss/variables";
.s-inp{
	height: $inpHeight;
	//width: $inpWidth;
	text-indent:.5em;
	border:0;
	outline:0;
	//box-sizing:border-box;
}

.s-inp[disabled]{
	background:#b0b0b0;
	color: $black;
	font-weight: bolder;
}
 .s-inp.number{
            width: 60px;
        }
.s-txt{
	border-radius: 4px;
	line-height: 1.5em;
	padding: 4px;
	box-sizing: border-box;
	background: none;
	border: 1px solid white;
	color: white;
}

.s-slecte{
	border-radius: 4px;
	height: $inpHeight;
	line-height: 1.5em;
	padding: 0 6px;
	box-sizing: border-box;
	background: none;
	color: white;
	option{
		color: $black;
	}
}

.normal{
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
	border-color: white;
	background: none;
 //   background-color: #ffffff;
   color: white;
}

.no-fill{
	
	&.s-inp{
		border-color:$error;
	}
	&.s-txt{

		border-color:$error;
	}
	
	
}

.require{
	&:before{
		content:"*";
		color: black;

	}
}

.input-file-m{
	position: relative;
	margin:10px 0;
	
	input{
		position: absolute;
		left: 0;
		width: 80px;
		opacity: 0;
	}
	span{
		color: red;
		padding:4px;
		border-bottom: 1px solid red;
	}
	
}


%inpbox{
	height: $inpHeight;
	display: flex;
	align-items: center;
	.m-label{
		margin: 0 6px;
	}
}
.m-label{
		
		display: inline-flex;
		align-items: center;
		cursor: pointer;	
	  input[type="radio"], input[type="checkbox"]{
	    position: relative;
	    -webkit-appearance: none;
    	-moz-appearance: none;
   		 appearance: none;
	    width: 1em;
	    margin: 0;
	    outline: none;
	    font: normal normal normal 18px/1 FontAwesome;
	    color: #6f737a;
	    transition: 300ms ease-out;
	    cursor: pointer;	
	    &:after {
	      display: inline-block;
	      text-align: center;
	      width: 1em;
	    }
	  
	    &:active {
	      transform: scale(.6);
	    }
	  }
	  input[type="radio"]:checked, input[type="checkbox"]:checked{
		  color: #5adc9c;
	   
	  }
}
.lab-tit{
	padding: 0 6px;
}

.m-lab-radio{
	input{
		&:after {
	      content: '\f10c'; // circle
    }
    &:checked:after {
       content: '\f28e'; // circle
    }
	}
}

.m-lab-checkbox{
	input{
		&:after {
	      content: '\f096'; // circle
    }
    &:checked:after {
       content: '\f14a'; // circle
    }
	}
	input.has-check{
		&:after {
	      content: '\f192'; // circle- dot
    }
	}

}

/* radio */
.m-radio{
	@extend %inpbox;
}

.m-checkbox{
	@extend %inpbox;
	
}

.file-inp{
       position: absolute;
       left: 0;
       opacity: 0;
   }




