@import "../scss/variate";

.page {
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

.g-padding {
  padding: $page-padding;
}

/* 子菜单容器样式  */
.g-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;

  .g-layout-article {
    flex: 1;
    margin: $page-padding - 4px 0;
    padding: 4px $page-padding;
    overflow: auto;
  }

  .g-layout-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $page-padding /2  $page-padding;
    box-shadow: $shadow;

    .layout-head-item {
      display: flex;

      &:first-child {
        & > * {
          margin-right: 16px;
        }
      }
    }
  }

  .g-item-show {
    box-shadow: $shadow;
    margin: 20px 0;
    overflow: visible;
    padding: $page-padding / 2;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .theme-txt {
    margin: 10px;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
