$border: 1px solid;

.treeTab {
  position: relative;
  display: flex;
  overflow: hidden;

  .tab-viewBody {
    border-top: $border;
    overflow: hidden;

    &:first-child {
      border-left: $border;
    }

    &:last-child {
      border-right: $border;
    }

    & > div {
      width: 100%;
    }
  }

  .tab-head-wrap {
    position: relative;
    overflow: hidden;

    .tab-head {
      float: left;
    }
  }

  .tab-body-wrap {
    //
  }

  .tab-body-main {
    height: 140px;
    overflow: auto;
  }

  .tree-par {
    &:hover {
      cursor: pointer;
    }
  }

  .tree-check {
    cursor: pointer;
  }

  .td-border {
    border-right: $border;
    border-bottom: $border;
    padding: 4px;
    box-sizing: border-box;
  }

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
  }
}
