.icon-box {
  .empty-box {
    position: relative;
    height: 440px;
  }

  .icon-item {
    width: 200px;
    height: 100px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icon-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .icon-name {
    padding-top: 8px;
  }
}
