@import "../../../component/my-css/scss/variate.scss";

.animate-page {
  $h:250px;

  width: 100%;
  overflow: hidden;

  .h200 {
    transform: translate(10px, 10px);
  }

  .text-box {
    border: 1px solid $normal;
    height: 100%;
    overflow: auto;
    background: $theme-color;
    border-radius: 8px;
    color: white;
    text-align: center;
  }

  .show-box {
    height: $h;
    padding: 20px 40px;
    box-sizing: content-box;
  }
}
