.icon-box {
  .empty-box {
    position: relative;
    height: 160px;
  }

  .icon-item {
    width: 200px;
    height: 100px;
    display: inline-block;
    text-align: center;
  }

  .icon-name {
    padding-top: 8px;
  }
}
