@import "../scss/unit","../scss/variate";

.g-alertInfo {
  &.warn {
    border-left: 2px solid $warn;
  }

  &.success {
    border-left: 2px solid $success;
  }

  &.error {
    border-left: 2px solid $error;
  }

  .txt {
    text-align: left;
    line-height: 1.2rem;
  }

  .notice-item {
    padding-right: 16px;
  }

  .m-alert-close {
    padding-left: 10px;
    cursor: pointe;
    color: #959faf;

    &:hover {
      color: $theme-color;
    }
  }
}

.g-notification {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 20;
  max-width: 55%;
  overflow: hidden;
  padding: 0 6px;
  padding-left: 30px;
  // 让每个提示的div，不为absolute，但是宽度不随父元素的宽度，跟随子元素的宽度
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & > div {
    // 让每个提示的div，跟随子元素的宽度
    width: fit-content;
  }

  .g-alertInfo {
    @extend %shadow;

    background: white;
    display: inline-flex;
    padding: 10px 10px  10px 20px;
    margin: 8px 0;
    min-width: 280px;
    min-height: 55px;
    justify-content: space-between;
    text-align: left;
    word-break: break-all;
  }
}
