@import "../scss/unit","../scss/variate";

.g-notification {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 20;
  max-width: 55%;
  overflow: hidden;
  padding: 0 6px;
  padding-left: 30px;
  // 让每个提示的div，不为absolute，但是宽度不随父元素的宽度，跟随子元素的宽度
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & > div {
    // 让每个提示的div，跟随子元素的宽度
    width: fit-content;
  }

  .g-alertInfo {
    @extend %shadow;

    background: white;
    color: black;
    display: inline-flex;
    padding: 10px;
    margin: 8px 0;
    align-items: center;
    min-width: 280px;
    justify-content: space-between;
    text-align: left;
    word-break: break-all;
  }
}

.g-alertInfo {
  .txt {
    text-align: left;
  }

  .warn {
    color: $warn;
  }

  .notice-item {
    padding-right: 8px;
    font-size: 24px;
  }

  .error {
    color: $error;
  }

  .success {
    color: $success;
  }

  .m-alert-close {
    padding-left: 10px;
    cursor: pointer;

    &:hover {
      color: $theme-color;
    }
  }
}
