@import "../scss/variate";

$sel: $theme-color;
$slectColor:#aee6ff;
$inp-h:2em;

.m-clalendar-inpBox {
  color: $text-color;

  .calendar-inpTxt {
    border: 1px solid;
    text-indent: 2.5em;
    cursor: pointer;
    width: 100%;
    background: none;
  }

  .calendar-inp-icon {
    position: absolute;
    line-height: $inp-h;
    left: 10px;
  }

  .m-search-close {
    position: absolute;
    z-index: 5;
    right: 10px;
    top: 0.5em;
    cursor: pointer;
  }
}

.m-calendar-view {
  $day-width:2em;
  $day-h:2em;
  $mon-width:4em;
  $mon-h:2.5em;
  $sea-width:5em;
  $sea-h:3em;

  .item-calendar-view {
    width: 100%;
    display: none;
  }

  .view-item {
    text-align: center;
    cursor: pointer;

    span {
      display: inline-block;
    }

    &:hover {
      span {
        background: $theme-color;
        color: white;
      }
    }

    .day-span {
      width: $day-width;
      height: $day-h;
      line-height: $day-h;
    }

    .mon-span,
    .year-span {
      width: $mon-width;
      height: $mon-h;
      line-height: $mon-h;
    }

    .searson-span {
      width: $sea-width;
      height: $sea-h;
      line-height: $sea-h;
    }
  }

  .day-disabled {
    color: #aaaeb3;
    opacity: 0.5;
    cursor: not-allowed;
    text-align: center;

    span {
      display: inline-block;
      width: $day-width;
      height: $day-h;
      line-height: $day-h;
    }
  }

  .week-group {
    display: flex;
    color: black;
    font-weight: bolder;

    & > li {
      width: 14.28%;
      text-align: center;
      padding: 8px 0;
    }
  }

  .data-group {
    display: flex;
    margin: 5px 0;

    & > li {
      width: 14.28%;
    }
  }

  .year-group,
  .mon-group {
    display: flex;
    margin: 5px 0;

    .view-item {
      width: 33.3%;
    }
  }

  li.calendar-sel {
    span {
      background: $sel;
      color: white;
    }
  }

  .mon-grop {
    .calendar-sel {
      border-radius: 20%;
    }
  }

  .searson-group {
    display: flex;
    margin: 5px 0;

    .view-item {
      width: 50%;
    }
  }

  .last-year {
    width: 33.3%;
    margin: auto;
    text-align: center;

    &:hover {
      span {
        background: $theme-color;
        color: white;
      }
    }
  }

  .calendar-today {
    span {
      color: $green;
      font-weight: bold;
    }
  }

  .m-time {
    color: #000;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 6px;
  }

  .wacth-time {
    width: 64px;
    height: 24px;
    border: 1px solid $theme-color;
    border-radius: 4px;
    text-align: center;
  }
}

.g-calendar-box {
  box-shadow: $shadow;

  .g-calendar-view {
    //	width:100%;
    min-width: 240px;
    position: relative;
    color: $theme-color;
    font-size: 14px;

    &:nth-child(2) {
      border-left: 1px solid;
    }
  }

  .m-rotate-drop {
    display: none;
    padding: 8px;
    position: absolute;
    background: white;
    box-shadow: $shadow;
    z-index: 6;
    left: -6px;
    cursor: pointer;

    .active {
      color: white;
      background: $theme-color;
    }

    & > li {
      padding: 6px;
    }
  }

  .can-hover {
    &:hover {
      .m-rotate-drop {
        display: block;
      }
    }
  }

  .m-viewOpt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    padding-left: 12px;
    border-bottom: 1px solid;
    color: $theme-color;

    .hideMoveBtn {
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
    }

    .curViewType {
      border-radius: 100%;
      border: 1px solid;
      padding: 4px 6px;
      cursor: pointer;
      display: block;
    }

    .m-timeSel {
      cursor: pointer;

      span {
        &:hover {
          color: $green;
        }
      }
    }

    .m-moveBtns {
      .s-btn {
        color: $theme-color;
        background: none;
        border: none;
      }
    }
  }

  .m-calendar-view {
    padding: 4px 0 8px 0;
    position: relative;
  }
}

.g-calendar {
  position: relative;//把他去掉，overflow 都不能保住它
  .g-calendar-box {
    margin-top: 10px;
    position: absolute;
    z-index: 2;
    background: white;
  }

  .m-clalendar-inpBox {
    width: 100%;
    color: $theme-color;
    position: relative;
  }
}
