@import "../scss/variate";

$sel: $theme-color;
$inp-h:2em;

.m-clalendar-inpBox {
  display: flex;
  align-items: center;
  border: 1px solid $normal;
  border-radius: 4px;
  cursor: pointer;

  &.no-fill {
    border-color: $error;
  }

  .calendar-inpTxt {
    width: 100%;
    background: none;
  }

  .calendar-inp-icon {
    padding: 0 8px;
  }

  .m-search-close {
    cursor: pointer;
  }
}

.m-calendar-view {
  .view-item {
    text-align: center;
    cursor: pointer;

    span {
      display: inline-block;
    }

    &:hover {
      span {
        background: $theme-color;
        color: white;
      }
    }

    .day-span {
      $day-h:2em;

      width: 2em;
      height: $day-h;
      line-height: $day-h;
    }

    .mon-span,
    .year-span {
      $mon-h:2.5em;

      width: 3.5em;
      height: $mon-h;
      line-height: $mon-h;
    }

    .searson-span {
      $sea-h:3.5em;

      width: 5em;
      height: $sea-h;
      line-height: $sea-h;
    }
  }

  .day-disabled {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    text-align: center;

    span {
      $day-h:2em;

      display: inline-block;
      width: 2em;
      height: $day-h;
      line-height: $day-h;
    }
  }

  .week-group {
    display: flex;
    color: black;
    font-weight: bolder;

    & > li {
      width: 14.28%;
      text-align: center;
      padding: 8px 0;
    }
  }

  .data-group {
    display: flex;
    margin: 5px 0;

    & > li {
      // width: 14.28%;
      margin: 0 4px;
    }
  }

  .year-group,
  .mon-group {
    display: flex;
    margin: 8px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .view-item {
      padding: 0 8px;
    }
  }

  li.calendar-sel {
    span {
      background: $sel;
      color: white;
    }
  }

  .mon-grop {
    .calendar-sel {
      border-radius: 20%;
    }
  }

  .searson-group {
    display: flex;

    &:first-child {
      margin-bottom: 20px;
    }

    .view-item {
      padding: 0 12px;
    }
  }

  .calendar-today {
    span {
      border: 1px solid $theme-color;
      border-radius: 2px;
    }
  }

  .last-year {
    width: 33.3%;
    margin: auto;
    text-align: center;

    &:hover {
      span {
        background: $theme-color;
        color: white;
      }
    }
  }

  .m-time {
    display: flex;
    justify-content: center;
    padding-top: 6px;
  }

  .wacth-time {
    width: 64px;
    height: 24px;
    border: 1px solid $normal;
    border-radius: 4px;
    text-align: center;

    &:focus {
      border-color: $theme-color;
    }
  }
}

.g-calendar-box {
  box-shadow: $shadow;

  .g-calendar-view {
    position: relative;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
  }

  .m-rotate-drop {
    display: none;
    padding: 8px;
    position: absolute;
    background: white;
    box-shadow: $shadow;
    z-index: 6;
    left: -6px;
    cursor: pointer;

    .active {
      color: white;
      background: $theme-color;
    }

    & > li {
      padding: 6px;
    }
  }

  .can-hover {
    &:hover {
      .m-rotate-drop {
        display: block;
      }
    }
  }

  .m-viewOpt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    padding-left: 12px;
    border-bottom: 1px solid;
    color: $theme-color;

    .hideMoveBtn {
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
    }

    .curViewType {
      padding: 5px 6px;
      cursor: pointer;
      display: block;
    }

    .m-timeSel {
      cursor: pointer;

      span {
        &:hover {
          color: $theme-color;
        }
      }
    }

    .m-moveBtns {
      .s-btn {
        color: $theme-color;
        background: none;
        border: none;
      }
    }
  }

  .m-calendar-view {
    padding: 20px;
    position: relative;
  }
}

.g-calendar {
  position: relative;//把他去掉，overflow 都不能保住它
  .g-calendar-box {
    margin-top: 10px;
    position: absolute;
    z-index: 2;
    background: white;
  }

  .m-clalendar-inpBox {
    width: 100%;
    color: $theme-color;
    position: relative;
  }

  &:hover {
    .m-clalendar-inpBox {
      border-color: $theme-color;
    }
  }
}
