
@import "../scss/variate";
$combo-bg:$page-bg;
$combo-text-color:$text-color;
$combo-h:2em;
$combo-drop-padding:8px;

.m-combo-inp {
  .combo-value {
    flex: 1;
    word-break: break-all;
    overflow: auto;
    height: 100%;
    padding-top: 0.3em;
    box-sizing: border-box;
  }

  .combo-inp-tit {
    color: rgba($combo-text-color, 0.2);
    font-size: 15px;
  }

  &.autoHInp {
    height: auto;
    min-height: $combo-h;
  }

  .j-slide {
    padding: 0 8px;
    cursor: pointer;
  }

  &.no-fill {
    border-color: $error;
  }
}

.m-drop {
  .drop-main {
    padding: $combo-drop-padding;
  }

  .drop-ul {
    overflow: auto;
  }

  .combo-text {
    padding-left: 4px;
  }

  .m-combo-item {
    padding: $combo-drop-padding;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    &:hover {
      color: lighten($combo-text-color, 20%);
      background: #e6f7ff;
    }
  }

  &.direction-up {
    bottom: 44px;
  }

  &.direction-down {
    margin-top: 10px;
  }

  .m-combo-item.active {
    background-color: #bfe6f9;
    border-radius: 2px;
    color: #04a9f5;

    &:hover {
      color: #04a9f5;
    }
  }
}

.g-combo {
  position: relative;

  .m-combo-inp {
    position: relative;
    color: $combo-text-color;
    display: flex;
    height: $combo-h;
    cursor: pointer;
    border: 1px solid $border-color;
    border-radius: 4px;
    align-items: center;
    background-color: $combo-bg;
    padding: 0 4px;
  }

  .m-drop {
    color: $combo-text-color;
    margin-top: 8px;
    box-shadow: $shadow;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    z-index: 10;
    border-radius: 4px;
    background: $combo-bg;
  }

  .no-fill {
    &.m-combo-inp {
      border-color: $error;
    }
  }

  .m-label {
    margin-right: 0;
  }

  .fa {
    color: $theme-color;
  }
}
