@import "./btn.scss" ,"./modal.scss","./alertInfo.scss","./table.scss","./Calendar.scss","./menu.scss","./layout.scss","./inp.scss",'./combo.scss','./treeTab.scss', "./scroll.scss";
@import "../scss/variate";

//svg图标
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: 12px;

  &.middle {
    font-size: 22px;
  }

  &.big {
    font-size: 30px;
  }
}

// 阴影
.shadow {
  box-shadow: $shadow;
}

/* loading */
.g-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  //background: rgba(#000, .3);
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  &.hide-loading {
    display: none;
  }

  .m-loading {
    width: 100px;
    height: 100px;
    background: url("./img/loading.svg") center no-repeat;
    line-height: 180px;
    text-align: center;
  }

  .loading-text {
    color: $text-color;
    letter-spacing: 0.1em;
  }

  &.g-shade {
    background: rgba(0, 0, 0, 0.2);
  }
}

.item-inp {
  display: flex;
  align-items: center;

  .m-inp-tit {
    padding-right: 16px;
    text-align: right;
    width: 110px;
    min-width: 110px;
    box-sizing: border-box;

    &::after {
      content: ":";
      padding: 0 6px;
    }
  }

  &.m-txt-start {
    align-items: flex-start;
  }
}

.border {
  border-radius: 4px;
  border: 1px solid #029efa;
  flex: 1;
  word-break: break-all;
  padding: 6px;
  min-height: 30px;
}

// 空页面

.g-crash-page {
  height: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .crash-main {
    display: flex;
    align-items: center;
  }

  .crash-bg {
    width: 500px;
    height: 400px;
    background: url("./img/emptyPage.png") center no-repeat;
    background-size: cover;
  }

  .crash-logo {
    width: 70px;
    height: 70px;

    &.crash {
      background: url("./img/crash.svg") center no-repeat;
      background-size: contain;
    }

    &.noFind {
      background: url("./img/noFind.svg") center no-repeat;
      background-size: contain;
      width: 170px;
      height: 120px;
    }
  }

  .crash-txt {
    line-height: 2em;
    padding: 16px 0;
    width: 360px;
  }

  .crash-descript {
    padding-left: 130px;
  }
}

//空数据
.m-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .empty-icon {
    background: url("./img/empty.png") center no-repeat;
    background-size: contain;
    width: 416px;
    height: 362px;
    margin: auto;
  }

  .txt {
    font-size: 18px;
    letter-spacing: 0.2em;
    padding: 8px;
  }

  .icon {
    font-size: 100px;
  }
}

// 表格公用
.td-left {
  text-align: left;
}

.td-right {
  text-align: right;
}

.td-center {
  text-align: center;
}

// 所有收缩的下拉框
.g-slideBox {
  overflow: hidden;
  display: block;
  position: relative;
}

.m-flex-center {
  display: flex;
  align-items: center;
}
