@import "./btn.scss" ,"./modal.scss","./alertInfo.scss","./table.scss","./Calendar.scss","./menu.scss","./layout.scss","./inp.scss",'./combo.scss','./treeTab.scss', "./scroll.scss";
@import "../scss/variate";

html {
  width: 100%;
  height: 100%;
  color: $text-color;
}
//svg图标

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;

  &.middle {
    font-size: 22px;
  }

  &.big {
    font-size: 30px;
  }
}

// 阴影
.shadow {
  box-shadow: $shadow;
}

/* loading */
.g-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  //background: rgba(#000, .3);
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  &.hide-loading {
    display: none;
  }

  .m-loading {
    width: 100px;
    height: 100px;
    background: url("./img/loading.svg") center no-repeat;
    line-height: 180px;
    text-align: center;
  }

  .loading-text {
    color: $text-color;
    letter-spacing: 0.1em;
  }

  &.g-shade {
    background: rgba(0, 0, 0, 0.2);
  }
}

.item-inp {
  display: flex;
  align-items: center;

  .m-inp-tit {
    padding-right: 16px;
    text-align: right;
    width: 110px;
    min-width: 110px;
    box-sizing: border-box;

    &::after {
      content: ":";
      padding: 0 6px;
    }
  }

  &.m-txt-start {
    align-items: flex-start;
  }
}

// 动画提醒
.m-warn {
  color: $error;
  position: absolute;
  padding: 6px;
  animation: alertAnimate 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  transform: translateX(300px);
}

@keyframes alertAnimate {
  to {
    transform: translateX(0);
  }
}

.border {
  border-radius: 4px;
  border: 1px solid #029efa;
  flex: 1;
  word-break: break-all;
  padding: 6px;
  min-height: 30px;
}

.g-crash-page {
  height: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .crash-main {
    display: flex;
  }

  .crash-logo {
    width: 60px;
    height: 60px;
    background: url("./img/crash.svg") center no-repeat;
    background-size: cover;
  }

  .crash-txt {
    line-height: 2em;
    padding: 16px 0;
  }

  .crash-descript {
    padding-left: 40px;
  }
}

//空数据
.m-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .empty-icon {
    background: url("./img/empty.svg") center no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    margin: auto;
  }

  .txt {
    font-size: 18px;
    letter-spacing: 0.2em;
    padding: 8px;
  }

  .icon {
    font-size: 100px;
  }
}

/* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  color: #ccc;
  border-right: 1px solid #ccc;
  vertical-align: top;
  padding-right: 5px !important;

  /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
  padding-left: 10px !important;
}
// 表格公用
.td-left {
  text-align: left;
}

.td-right {
  text-align: right;
}

.td-center {
  text-align: center;
}

.g-slideBox {
  overflow: hidden;
  display: block;
  position: relative;
}
