@import "../scss/variate";
$inp-h:2.2em;
$inp-border-color:$normal;
$disabled-color:#d9d9d9;

.s-inp {
  height: $inp-h;
  text-indent: 0.5em;
  border: 0;
  outline: 0;
  box-sizing: content-box;
}

.s-txt {
  border-radius: 4px;
  line-height: 1.5em;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid $inp-border-color;
  color: $text-color;
  text-indent: 2em;

  &.block-txt {
    width: 100%;
    resize: none;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:hover {
    border-color: $theme-color;
  }
}

.s-slecte {
  border-radius: 4px;
  height: $inp-h;
  line-height: 1.5em;
  padding: 0 6px;
  box-sizing: border-box;
  background: none;
  color: $text-color;

  option {
    color: $text-color;
  }
}

.s-inp.normal {
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px;
  border-color: $inp-border-color;
  background: none;

  &:hover {
    border-color: $theme-color;
  }

  &:focus {
    border-color: $theme-color;
  }
}

.no-fill {
  &.s-inp {
    border-color: $error;
  }

  &.s-txt {
    border-color: $error;
  }
}

.input-file-m {
  position: relative;
  margin: 10px 0;

  input {
    position: absolute;
    left: 0;
    width: 80px;
    opacity: 0;
  }

  span {
    color: red;
    padding: 4px;
    border-bottom: 1px solid red;
  }
}

%inpbox {
  height: $inp-h;
  display: flex;
  align-items: center;

  .m-label {
    margin: 0 6px;
  }
}

/* radio */
// .m-radio {
//   @extend %inpbox;
// }

// .m-checkbox {
//   @extend %inpbox;
// }

.m-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &.m-lab-radio {
    margin-right: 20px;

    .radio-on {
      color: #1989fa;
    }

    .radio-off {
      color: #d5d8de;
    }

    &:hover {
      .radio-off {
        color: $theme-color;
      }
    }
  }

  &.m-lab-checkbox {
    margin-right: 10px;

    .checkbox-marked,
    .checkbox-has-selected {
      color: #1989fa;
    }

    .checkbox-blank {
      color: #d5d8de;
    }

    &:hover {
      .checkbox-blank {
        color: $theme-color;
      }
    }
  }

  .wrap-icon {
    position: relative;
    padding-right: 6px;
  }

  .icon {
    cursor: pointer;
  }

  .checkBox-inp {
    opacity: 0;
    cursor: pointer;
    position: absolute;
  }
}

.disabled-box {
  cursor: not-allowed;

  .checkBox-inp {
    cursor: not-allowed;
  }

  .icon {
    cursor: not-allowed;
  }

  .wrap-icon {
    color: $disabled-color;
  }
}

.lab-tit {
  padding-right: 10px;
}

.inp-item {
  margin: 16px 0;
  display: flex;
  align-items: center;
}

.g-file-box {
  display: flex;
  align-items: center;

  .file-inp {
    position: absolute;
    left: 0;
    opacity: 0;
    width: 100%;
  }

  .j-file {
    width: 120px;
  }

  .j-del {
    font-size: 12px;
    padding-left: 15px;
    cursor: pointer;

    &:hover {
      color: $error;
    }
  }

  .has-files {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    max-height: 120px;
    overflow: auto;
  }

  .up-files {
    margin-top: 14px;
    border: 1px solid $normal;
    padding: 12px 6px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    max-height: 120px;

    &.no-fill {
      border: 1px solid $error;
    }

    &:empty::after {
      content: attr(data-tit);
      color: #a4afb7;
    }
  }

  .file-item {
    margin: 6px 10px;
  }
}

//search

.m-search {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid $normal;
  position: relative;
  flex: 1;

  .j-search-icon {
    padding: 8px 4px;

    &:hover {
      color: $active;
      cursor: pointer;
    }
  }

  .s-inp {
    // flex: 1;
    position: relative;
    width: 100%; // 使用flex:1 不能让input 宽度为父容器宽度，
  }

  .m-search-close {
    position: absolute;
    top: 0.6em;
    color: red;

    &:hover {
      cursor: pointer;
    }
  }
}
//search
.g-search {
  display: flex;

  .s-btn {
    border-radius: 0 4px 4px 0;
    padding: 0 0.8em;
  }
}
