@use "../scss/variate";
@use "sass:math";

.page {
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

.g-padding {
  padding: variate.$page-padding;
}

/* 子菜单容器样式  */
.g-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;

  .g-layout-article {
    flex: 1;
    margin: variate.$page-padding - 4px 0;
    padding: 4px variate.$page-padding;
    overflow: auto;
  }

  .g-layout-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: math.div(variate.$page-padding, 2)  variate.$page-padding;
    box-shadow: variate.$shadow;

    .layout-head-item {
      display: flex;

      &:first-child {
        & > * {
          margin-right: 16px;
        }
      }
    }
  }

  .g-item-show {
    box-shadow: variate.$shadow;
    margin: 20px 0;
    overflow: visible;
    padding: math.div(variate.$page-padding, 2);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .theme-txt {
    margin: 10px;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.relative-box {
  position: relative;
  min-height: 200px;
}

.opt-space {
  padding: 0 6px;
}
