@use "../scss/variate";
$M_width:400px;
$Tit_H:40px;
$-bg: variate.$page-bg;

.g-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;

  .m-Mask {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .m-Mwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.m-Modal {
  z-index: 2;
  min-width: $M_width;
  $pading:24px;

  box-shadow: variate.$shadow;
  border-radius: 6px;
  background-color: $-bg;

  .m-Mtit {
    height: $Tit_H + 10;
    display: flex;
    position: relative;
    align-items: center;
    cursor: move;
    border-bottom: 1px solid variate.$normal;
  }

  .tit-name {
    padding-left: 20px;
    flex: 1;
    font-size: 16px;
  }

  .m-Mclose {
    color: variate.$normal;
    position: absolute;
    right: 20px;
    top: 14px;
    cursor: pointer;

    &:hover {
      color: variate.$error;
    }
  }

  .m-Mbody {
    padding: 30px 40px 40px 40px;
    overflow: auto;
  }

  .m-Mfooter {
    display: flex;
    justify-content: center;
    padding: 10px 0 40px 0;

    .s-btn {
      margin-right: 10px;
    }

    .m-warn {
      left: 24px;
    }
  }

  .item-inp {
    margin: 12px 0;

    & > .item-inp {
      margin: 0;
    }
  }
}
