@import "../scss/variate";
$barW:10px;
$barInnerW: 6px;

.g-scrollBox {
  overflow: hidden;
  height: 100%;
  position: relative;
  min-height: 60px;
  flex: 1;

  .m-moveBar {
    width: $barInnerW;
    background: #d9d9d9;
    border-radius: $barInnerW;
    position: absolute;
  }

  .m-scrollBar {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: $barW;
    padding: 6px ($barW - $barInnerW ) / 2;
    z-index: 2;
    background: none;
    cursor: pointer;

    &:hover {
      background: #d9d9d9;

      .m-moveBar {
        background: white;
      }
    }
  }

  .m-scrollMain {
    position: absolute;
    width: 100%;
    top: 0;
  }
}
