@use "sass:math";

$barW:10px;
$barInnerW: 6px;

.g-scrollBox {
  overflow: hidden;
  height: 100%;
  position: relative;
  min-height: 60px;
  flex: 1;

  .m-moveBar {
    border-radius: $barInnerW;
    position: absolute;
    background: #d9d9d9;

    &.m-moveHBar {
      width: $barInnerW;
    }

    &.m-moveWBar {
      height: $barInnerW + 4px;
    }
  }

  .m-scrollBar {
    position: absolute;
    background: none;
    cursor: pointer;

    &.m-scrollHBar {
      height: calc(100% - 16px);
      z-index: 3;
      top: 0;
      right: 0;
      width: $barW;
      padding: 6px math.div($barW - $barInnerW, 2);
    }

    &.m-scrollWBar {
      width: calc(100% - 16px);
      z-index: 2;
      bottom: 0;
      left: 0;
      height: $barW + 4px;
      padding: math.div($barW - $barInnerW, 2) 6px;
    }

    &:hover {
      background: #d9d9d9;

      .m-moveBar {
        background: white;
      }
    }
  }

  .m-scrollMain {
    position: absolute;
    top: 0;

    &.no-selected {
      user-select: none;
    }
  }
}
