@use "../scss/variate";

$h:48px;
$theme-color:variate.$theme-color;
$-bg:rgba(23, 57, 147, 0.04);

.g-table {
  height: calc(100% - 4px);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .m-label {
    margin-right: 6px;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  td {
    height: $h;
    word-break: break-all;
    vertical-align: middle;
  }

  th {
    height: $h;
    vertical-align: middle;
  }

  .m-fixTabHead tr {
    border: none;
    //border-bottom:2px solid $themeColor;
  }

  .m-fixTabHead {
    background: $-bg;
    border-radius: 6px;
    color: #252836;
    font-size: 14px;
  }

  .m-fixTabBody {
    flex: 1;
    position: relative;
    font-size: 13px;

    tr:hover {
      background: darken($color: $-bg, $amount: 20);
    }
  }

  .tab-over {
    padding-right: 18px;
  }

  tr.selected {
    background: $-bg;
    //	border-bottom: 1px solid #e5e6fe;
  }

  @at-root {
    .g-pageCode {
      margin: 10px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      .m-page-total {
        display: flex;
        align-items: center;

        & > span {
          margin: 0 8px;
        }
      }

      .j-jump-page {
        margin: 0 8px;
        width: 60px;
        background: none;
        border-color: variate.$normal;

        &:hover {
          border-color: variate.$theme-color;
        }

        &:focus {
          border-color: variate.$theme-color;
        }
      }

      .m-page-num {
        display: inline-block;
        text-align: center;
        line-height: 32px;
        border: solid 1px #d9d9d9;
        margin: 0 4px;
        width: 32px;
        height: 32px;
        border-radius: 4px;

        &:hover {
          color: variate.$theme-color;
          border-color: variate.$theme-color;
        }
      }

      .m-page-num.active {
        color: white;
        background: variate.$theme-color;
      }

      .g-pageRight,
      .g-pageLeft {
        display: flex;
      }
    }
  }
}

.g-table-wrap {
  height: 100%;
  overflow: auto;

  &.g-tab-border {
    td {
      border-right: 1px solid variate.$normal;
      border-bottom: 1px solid variate.$normal;

      &:first-child {
        border-left: 1px solid variate.$normal;
      }
    }

    .m-fixTabBody {
      border-bottom: 1px solid variate.$normal;
    }
  }
}
