$border: 1px solid;

.treeTap-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.treeTab {
  flex: 1;
  position: relative;
  display: flex;
  overflow: hidden;
  border: $border;

  .td-border {
    border-right: $border;
    border-bottom: $border;
    padding: 4px;
    box-sizing: border-box;
    word-break: break-all;
  }

  .tab-over-wid {
    padding-bottom: 17px;
  }



  .tab-view-scroll {
    flex: 1;
    border-right: $border;

    tr > .td-border:last-child {
      border-right: none;
    }

    .tab-body-main {
      height: 100%;
      overflow: auto;
    }
  }

  .tab-viewBody {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;

    &:last-child {
      tr > .td-border:last-child {
        border-right: none;
      }

      &.tab-view-scroll {
        border-right: none;
      }
    }
  }

  .tab-head-wrap {
    position: relative;
    overflow: hidden;

    .tab-head {
      float: left;
    }
  }

  .tab-body-wrap {
    height: 140px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .tab-view-fix {
    .tab-body-main {
      overflow: hidden;
      height: 100%;
      flex: 1;
    }
  }

  .tree-par {
    &:hover {
      cursor: pointer;
    }
  }

  .tree-check {
    cursor: pointer;
  }

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
  }

  .fix-bottom {
    height: 17px;
    // border-top: $border;
  }
}
