.scroll-page {
  .main-demo {
    border: 1px solid black;

    .list-item {
      display: flex;
      border-top: 1px solid;

      &:first-child {
        border-top: none;
      }

      & > div {
        width: 20%;
        padding: 8px;
        border-right: 1px solid;

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
