@import "./common/normalize.css" ,"./common/common.scss" ;
@import "./scss/variate";

$Head-h:60px;//头部的高度
$HeadColor: $theme-color;

.m-sysOpt {
  & > li {
    padding: 4px 0;
  }
}

.pwd-M {
  .item-inp {
    padding: 10px;
  }

  .s-inp {
    flex: 1;
  }

  .m-inp-tit {
    width: 100px;
  }
}

/* 基本的页面结构 */
.g-logo {
  .m-logo {
    width: 100%;
    height: 100%;
    background: url("./img/images.png") no-repeat center;
    background-position-x: -40px;
  }

  .j-slideBar {
    cursor: pointer;
    color: $text-bg-color;
  }
}

.g-content {
  .g-head {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    height: $Head-h;
    box-shadow: $shadow;
    background: $HeadColor;
    color: $text-bg-color;

    .m-theme {
      padding-left: 30px;
      font-size: 32px;
      letter-spacing: 0.5em;
      font-weight: bolder;
    }

    .j-slideBar {
      margin-left: 30px;
      cursor: pointer;
    }
  }

  .g-main {
    z-index: 4;
    //overflow: hidden;
    height: calc(100% - #{$Head-h});
    position: relative;
    background: $page-bg;
  }

  .g-sys_set {
    font-size: 16px;
    display: flex;
    flex: auto;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;

    .m-sysOpt {
      display: none;
      font-size: 14px;
      padding: 10px;
      width: 100px;
      text-align: center;
      color: black;
      position: absolute;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 0 12px 0 rgba(51, 51, 51, 0.3);

      & > li:hover {
        color: $theme-color;
      }
    }

    .g-role-sys {
      .m-sysOpt {
        width: 150px;
      }
    }

    .g-user-opt,
    .g-role-sys {
      position: relative;
      cursor: pointer;

      &:hover {
        .m-sysOpt {
          display: block;
        }
      }

      li.active {
        color: $theme-color;
      }
    }
  }
}

.page {
  .g-slideMenu {
    position: relative;
    z-index: 10;
    background-color: $page-bg;
    box-shadow: $shadow;

    .scroll-area {
      height: calc(100% - #{$Head-h});
    }

    .g-logo {
      background: $HeadColor;
      display: flex;
      justify-content: center;
      align-items: center;
      height: $Head-h;
    }
  }

  .g-content {
    flex: 1;/* 很重要，为auto的话，即使兄弟元素固定宽度，只要它缩放会影响兄弟元素 */
    // overflow: hidden;
    //  min-width: 1000px;
    min-height: 600px;
    height: 100%;
  }
}

.g-slideMenu.expand {
  .g-logo {
    padding-right: 0;
    justify-content: center;
  }

  .m-logo {
    display: none;
  }

  .scroll-content {
    overflow: initial;
  }

  .scroll-area {
    overflow: initial;
  }
}

.psd-modal {
  .inp-item {
    margin: 16px 0;
    display: flex;
    align-items: center;

    .m-tit {
      width: 100px;
      text-align: right;
    }

    input {
      width: 280px;
    }
  }
}
