.loadable-page {
  .box {
    border: 1px solid;
    margin-top: 16px;
    padding: 14px;
  }

  .common {
    color: white;
    width: 30%;
    text-align: center;
    padding: 16px;
  }

  .com1 {
    background: chocolate;
    margin-bottom: 20px;
  }

  .pending {
    border-style: dashed;
    background: none;
    color: black;
  }

  .async-com {
    background: burlywood;
    border-radius: 4px;
    margin: 10px;
  }

  .async-com2 {
    background: chartreuse;
    border-radius: 4px;
    margin: 10px;
  }
}
